@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .purpleshadow {
    color: #818cf8;
    text-shadow: 0 0 10px #818cf8;
  }
}

:root {
  --background: #0f172a;
  --foreground: #818cf8;
  --cardback: #2d3748;
  --cardborder: #d1d5db;
  --textcolor: #d1d5db;
  --textgray: #8f8f8f;
  --inputcolor: #4b5563;
  --clientcard: #141e36;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cardback: var(--cardback);
  --color-textcolor: var(--textcolor);
  --color-textgray: var(--textgray);
  --color-inputcolor: var(--inputcolor);
  --color-cardborder: var(--cardborder);
  --color-clientcard: var(--clientcard)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #818cf8;
    --cardback: #2d3748;
    --cardborder: #d1d5db;
    --textcolor: #d1d5db;
    --textgray: #8f8f8f;
    --inputcolor: #4b5563;
    --clientcard: #141e36;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
