@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #818cf8;
  --cardback: #2d3748;
  --textcolor: #d1d5db;
  --textgray: #8f8f8f;
  --inputcolor: #4b5563;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cardback: var(--cardback);
  --color-textcolor: var(--textcolor);
  --color-textgray: var(--textgray);
  --color-inputcolor: var(--inputcolor);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #818cf8;
    --cardback: #2d3748;
    --textcolor: #d1d5db;
    --textgray: #8f8f8f;
    --inputcolor: #4b5563;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
